.header-logo {
  font-family: "Rowdies", sans-serif;
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: end;
  margin-top: -12px;
  
  
  p {
    font-size: 26px;
    line-height: 26px;
    z-index: 80;
  }  
}

img.tree,
.header-logo picture {
  position: unset;
  height: 32px;
  filter: brightness(0) saturate(100%) invert(35%) sepia(21%) saturate(4584%) hue-rotate(68deg) brightness(96%) contrast(98%);
  z-index: 80;
}