.header-logo {
  font-family: "Rowdies", sans-serif;
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: end;
  margin-top: -12px;
  
  p {
    font-size: 26px;
    line-height: 26px;
  }
}

img.tree {
  position: unset;
  height: 32px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(94%) saturate(1019%) hue-rotate(98deg) brightness(102%) contrast(104%);
  z-index: 100;
}