.section-1 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  & > span {
    font-size: 14px;
    color: rgb(53, 53, 53);
  }

  h3 {
    font-size: 1.8rem;
    line-height: 3.8rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 20px;
    color: rgb(53, 53, 53);
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;

    .location-img {
      height: 30px;
      filter: brightness(20%);
    }

    span {
      font-family: var(--font-text);
      color: rgb(53, 53, 53);
    }
  }

  .video-wrapper {
    position: relative;
    margin: 0px auto;
    height: 0;
    padding-top: 56.25%;
    max-width: 900px;
   

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.play-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    transition: all .3s;
}

.play-btn {
  position: absolute;
  top: 46%;
  left: 48%;
  z-index: 8;
  border-top: 38px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 38px solid rgb(255, 255, 255);

    @media (max-width: 740px) {
        top: 44%;
        left: 46%;
        border-top: 24px solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 24px solid rgb(255, 255, 255);
    }

  &.pause {
    width: 48px;
    height: 48px;
    border-top: none;
    border-right: 5px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-left: 5px solid rgb(255, 255, 255, 0.3);

    @media (max-width: 740px) {
        width: 24px;
        height: 24px;
    }
  }
}


