.section-2 {  
  width: 100%;
  background-color: rgb(222, 241, 247);

  .offers {
    padding: 0px 15px 80px;


    .offer {
      width: 30%;
      position: relative;
      margin-top: 70px;
      height: calc(420px + (480 - 420) * ((100vw - 320px) / 2000));

      @media (max-width: 900px) {
        margin-top: 50px;
      }

      &:hover {
        cursor: pointer;
        
          .figcaption {
            bottom: -2%;
          }

          img {
            transform: scale(1.02);
          }
      }
    }

    figure {
      width: 100%;
      height: 100%;

      position: relative;
      transition: all .3s;
      overflow: hidden;

    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .3s;
    }

    .figcaption {
      border-radius: 1px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 80%;
      position: absolute;
      bottom: -10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: white;
      -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
      padding: 20px 15px;
      z-index: 10;
      overflow: hidden;
      transition: all .3s;

      h4 {
        font-size: calc(20px + (20 - 16) * ((100vw - 360px) / 2100));
        font-weight: 600;
        text-transform: capitalize;
        overflow: hidden;        
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 1200px) {
          font-size: 18px
        }
      }

      p {
        line-height: 26px;
        max-width: 270px;
        color: rgba(0, 0, 0, 0.63);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;

        @media (max-width: 1200px) {
          font-size: 14px
        }
      }

      .price {
        font-size: clamp(1rem, 1.0139rem + 0.5556vw, 18px);
        color: rgb(53, 53, 53);

        @media (max-width: 1200px) {
          font-size: 16px
        }
      }

      .line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(128, 128, 128, 0.397);
      }

      .location {
        display: flex;
        align-items: center;
        gap: 10px;

        .location-img {
          height: 30px;
          width: auto;
          position: unset;
          filter: brightness(20%);
        }

        span {
          font-family: var(--font-text);
          color: rgb(53, 53, 53);
        }
      }
    }
  }
}
