.services {
    background-color: black;
    width: 100%;
    padding: 60px 0px;
}

.services-wrapper {
    .services-header {
        color: white;
        text-align: center;

        span {
            font-size: 14px;
        }

        h3 {
            font-size: calc(24px + (24 - 16) * ((100vw - 360px) / 2100));
            font-weight: 600;
            line-height: 46px;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;

        button {
            padding: 0 5px;
            color: white;
            width: 200px;
            height: 90px;
            border: 1px solid white;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @media (max-width: 500px) {
                width: 47%;
                height: 60px;

                img {
                    height: 28px;
                    width: 28px;
                }
            }
        }

        img {
            height: 32px;
            width: 32px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
            hue-rotate(73deg) brightness(104%) contrast(102%);
        }
    }
}