<section class="booking">
    <div class="container">
        <h3 class="block">Book the property now at any of<br> the following platforms</h3>
        <div class="platforms-wrapper block">
            <a href="#!" class="airbnb">
                <img src="./img/airbnb.svg" alt="airbnb">
                airbnb
            </a>
            <a href="#!" class="virgin-atlantic">
                <img src="./img/virgin-atlantic.svg" alt="virgin-atlantic">                
            </a>
            <a href="#!" class="shopify">
                <img src="./img/shopify.svg" alt="airbnb">                
                shopify               
            </a>
        </div>
    </div>    
</section>