<footer class="footer">
    <section class="container">
        <div class="footer-container">
            <a href="#" class="brand footer-brand">
              <img class="logo" src="./../img/logoimg.png" alt="logo" />
              <span>Footer</span>
            </a>
            <div class="footer-icons">
              <img src="./../img/instagram.png" alt="instagram" />
              <img src="./../img/twitter.svg" alt="twitter" />
              <img src="./../img/linkedin-In.svg" alt="linkedin" />
            </div>
            <div class="copy-rights">
              <p>&copy; Copy Right 2023.</p>
              <span>All rights reserved</span>
            </div>
    
            <div class="footer-container-2">
              <div class="servies-header">
                <h4>Services</h4>
                <span id="servArrowDown" class="arrow-down">&#65088;</span>
              </div>
    
              <ul id="services" class="footer-list">
                <li><a href="#!">Design</a></li>
                <li><a href="#!">Coding</a></li>
                <li><a href="#!">Digital Marketing</a></li>
                <li><a href="#!">Product Design</a></li>
              </ul>
            </div>
            <div class="footer-container-3">
              <div class="products-header">
                <h4>Products</h4>
                <span id="prodArrowDown" class="arrow-down">&#65088;</span>
              </div>
    
              <ul id="products" class="footer-list">
                <li><a href="#!">Hotel Marnagement</a></li>
                <li><a href="#!">Rent Management</a></li>
                <li><a href="#!">Micro-Finance</a></li>
                <li><a href="#!">Industry</a></li>
                <li><a href="#!">Dhoko</a></li>
              </ul>
            </div>
            <div class="footer-container-4">
              <div class="company-header">
                <h4>Company</h4>
                <span id="compArrowDown"class="arrow-down">&#65088;</span>
              </div>
    
              <ul id="company" class="footer-list">
                <li><a href="#!">Las Vegas</a></li>
                <li><a href="#!">New York</a></li>
                <li><a href="#!">Tokyo</a></li>
                <li><a href="#!">Rent Management</a></li>
                <li><a href="#!">Paris</a></li>
              </ul>
            </div>
          </div>
    </section>    
</footer>