<section class="form-section">
    <div class="container">
        <div class="form-section-content">
            <div class="form-wrapper block-left">
                <form>
                    <h3>Let your vacation start on the high!</h3>
                    <p>Our friendly team would love to hear from you</p>
                    <div class="data-name">
                        <div class="name-wrapper">
                            <label for="name">First name:</label>
                            <input type="text" id="name" name="name" placeholder="First name">
                        </div>
                        <div class="last-name-wrapper">
                            <label for="lname">Last name:</label>
                            <input type="text"id="lname" name="lname" placeholder="Last name">
                        </div>       
                    </div>                                                      
                    <div class="message-wrapper">
                        <label for="message">Message:</label>
                        <textarea id="message" placeholder="Leave us a message..." rows="8" name="message"></textarea>
                    </div>                 
                    <input type="submit" value="Send message">                    
                </form>
            </div>
            <img src="./img/calling-woman-2.png" alt="calling" class="phone-woman block-right">
        </div>
        <div class="contacts-wrapper">
            <div class="chat-container block">
                <div class="image-wrapper">
                    <img src="./img/chat.svg" alt="chat">
                </div>                
                <h5>Chat to support</h5>
                <p>We`re here to help</p>
                <a href="#!">support@clientabri.com</a>
            </div>       
            <div class="chat-container block">
                <div class="image-wrapper">
                     <img src="./img/location.svg" alt="location">
                </div>               
                <h5>Visit us</h5>
                <p>Visit out office HQ</p>
                <a href="#!">238 Samuel Street<br>Collingriver TRF 6948 EG</a>
            </div> 
            <div class="chat-container block">
                <div class="image-wrapper">
                    <img src="./img/phone.svg" alt="phone">
                </div>                
                <h5>Call us</h5>
                <p>Mon-Fri from 8 AM to 5PM</p>
                <a href="#!">+1 (155) 000-000</a>
            </div>       
        </div> 
    </div>
</section>