<header class="header">    
    <div class="header-wrapper" style="background-image: url(./img/main-bg.jpg);">            
        <div class="header-content">
            <div class="container">
                <a href="#!" class="header-logo"><img src="./img/tree.svg" alt="tree" class="tree"><p>L'Abri</p></a>
                @@include('mobile-nav.html')
                <button class="nav-mob-btn" id="nav-mob-btn">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>                
                    <div class="burger-line"></div>
                </button>
            </div>
        </div>
        <div class="container">
            <article class="header-article">
                <h2 class="block-appear">Welcome to L'Abri Villa. Your couth holiday home</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero autem alias minus ducimus impedit blanditiis quisquam sit.</p>
                <button class="book-now-content">Book Now</button>
        </article>
        </div>

    </div>
    <!-- <img src="./img/main-img.jpg" alt="main image" class="main-image" />  -->
</header>

