<header class="header">    
    <div class="header-wrapper">            
        <div class="header-content">
            <div class="container">
                <div class="header-logo"><img src="./img/tree.svg" alt="tree" class="tree"><p>L'Abri</p></div>
                @@include('mobile-nav.html')
                <button class="nav-mob-btn" id="nav-mob-btn">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>                
                    <div class="burger-line"></div>
                </button>
            </div>
        </div>
        <article class="header-aricle">
            <h2>Welcome to L'Abri Villa. Your couth holiday home</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero autem alias minus ducimus impedit blanditiis quisquam sit.</p>
            <button class="book-now-content">Book Now</button>
        </article>
        <img src="./img/main-img.jpg" alt="main image" class="main-image" />                           
    </div>
</header>

