<nav class="nav" id="nav">
    <ul class="nav-list">
        <li><a href="./../index.html">Home</a></li>
        <li><a href="./../pages/about-page.html">Features</a><span class="arrow-header">&#8964;</span></li>
        <li><a href="./../pages/servises-page.html">Our Packeges</a><span class="arrow-header">&#8964;</span></li>
        <li><a href="#">Resources</a><span class="arrow-header">&#8964;</span></li>
    </ul>
    <div class="nav-end">
        <a href="#!">Contacts</a>
        <button class="book-now">Book Now</button> 
    </div>
</nav>