<nav class="nav" id="nav">
    <ul class="nav-list">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#!">Features<span class="arrow-header">&#8964;</span></a></li>
        <li><a href="#!">Our Packeges<span class="arrow-header">&#8964;</span></a></li>
        <li><a href="#!">Resources<span class="arrow-header">&#8964;</span></a></li>
    </ul>
    <div class="nav-end">
        <div class="nav-end-content">
            <a href="#!">Contacts</a>
            <button class="book-now">Book Now</button>  
        </div>
    </div>
</nav>