<section class="section-2">
    <div class="container swiper">
        <div class="offers swiper-wrapper">
            <article class="offer swiper-slide">
                <figure>
                    <img src="./img/photo-5.jpg" alt="offer villa">
                </figure>  
                    <div class="figcaption">
                        <h4>pure fun experiance</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="line"></span>
                        <p class="price">From <b>$500</b><span>/day</span></p>
                        <div class="location">
                            <img src="./img/map-marker-line.png" alt="location" class="location-img">
                            <span>Luisiana, USA</span>
                        </div>
                    </div>                
            </article>
            <article class="offer swiper-slide">
                <figure>
                    <img src="./img/photo-2.jpg" alt="offer villa">
                </figure>    
                    <div class="figcaption">
                        <h4>first class Experience</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="line"></span>
                        <p class="price">From <b>$500</b><span>/day</span></p>
                        <div class="location">
                            <img src="./img/map-marker-line.png" alt="location" class="location-img">
                            <span>Luisiana, USA</span>
                        </div>
                    </div>                
            </article>
            <article class="offer swiper-slide">
                <figure>
                    <img src="./img/photo-4.jpg" alt="offer villa">
                </figure>    
                    <div class="figcaption">
                        <h4>Laid Back Experience</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="line"></span>
                        <p class="price">From <b>$500</b><span>/day</span></p>
                        <div class="location">
                            <img src="./img/map-marker-line.png" alt="location" class="location-img">
                            <span>Luisiana, USA</span>
                        </div>
                    </div>                
            </article>
            <article class="offer swiper-slide">
                <figure>
                    <img src="./img/photo-1.jpg" alt="offer villa">
                </figure>    
                    <div class="figcaption">
                        <h4>Laid Back Experience</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="line"></span>
                        <p class="price">From <b>$500</b><span>/day</span></p>
                        <div class="location">
                            <img src="./img/map-marker-line.png" alt="location" class="location-img">
                            <span>Luisiana, USA</span>
                        </div>
                    </div>                
            </article>
            <article class="offer swiper-slide">
                <figure>
                    <img src="./img/photo-5.jpg" alt="offer villa">
                </figure>    
                    <div class="figcaption">
                        <h4>Laid Back Experience</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="line"></span>
                        <p class="price">From <b>$500</b><span>/day</span></p>
                        <div class="location">
                            <img src="./img/map-marker-line.png" alt="location" class="location-img">
                            <span>Luisiana, USA</span>
                        </div>
                    </div>                
            </article>
        </div>   
    </div>
</section>