<section class="section-1">
    <span>Estate</span>
    <h3>Your best hight quality vacation home</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro minima voluptates nam maiores veniam quas illum, magni harum corrupti perferendis eveniet magnam.</p>
    <div class="location">
        <img src="./img/map-marker-line.png" alt="location" class="location-img">
        <span>Luisiana, USA</span>
    </div>
    <div class="video-wrapper">
        <video controls id="videoPlayer">
            <source src="./files/8045149-hd_1920_1080_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</section>