<section class="section-1">
    <div class="section-1-top block">
       <span>Estate</span>
        <h3 class="block-left">Your best hight quality vacation home</h3>
        <p class="block-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro minima voluptates nam maiores veniam quas illum, magni harum corrupti perferendis eveniet magnam.</p>
        <div class="location block">
            <img src="./img/map-marker-line.png" alt="location" class="location-img">
            <span>Luisiana, USA</span>
        </div>
        <div class="video-wrapper">
            <video id="videoPlayer">
                <source src="./files/8045149-hd_1920_1080_25fps.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="play-btn-wrapper" id="shawl">
                <button class="play-btn" id="playPauseButton">
                </button>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="villas-photo block">
        <figure class="image-wrapper block">
          <a href="#!" class="overlay">
              <img src="./img/instagram.png" alt="instagram" class="instagram">       
          </a>
          <img src="./img/photo-1.jpg" alt="villa" class="villa">
          </figure>
          <figure class="image-wrapper block">
              <a href="#!" class="overlay">
                  <img src="./img/instagram.png" alt="instagram" class="instagram">       
              </a>
              <img src="./img/photo-2.jpg" alt="villa" class="villa">
          </figure>
          <figure class="image-wrapper block">
              <a href="#!" class="overlay">
                  <img src="./img/instagram.png" alt="instagram" class="instagram">       
              </a>
              <img src="./img/photo-3.jpg" alt="villa" class="villa">
          </figure>
          <figure class="image-wrapper block">
              <a href="#!" class="overlay">
                  <img src="./img/instagram.png" alt="instagram" class="instagram">       
              </a>
              <img src="./img/photo-4.jpg" alt="villa" class="villa">
          </figure>  
        </div>
    </div>    
</section>