<section class="services">
    <div class="container">
        <div class="services-wrapper">
            <div class="services-header">
                <span>Amenities</span>
                <h3>Our Amazing & Premium Amenities</h3>
            </div>
            <div class="buttons-wrapper">
                <button>
                    <img src="./img/gate-icon.svg" alt="gate">
                    Gated Property
                </button>
                <button>
                    <img src="./img/bathtub-icon.svg" alt="bathtub">
                    Bathroom
                </button>
                <button>
                    <img src="./img/room-icon.svg" alt="room">
                    Large Lounge
                </button>
                <button>
                    <img src="./img/kitchen-icon.svg" alt="kitchen">
                    Kitchen
                </button>
                <button>
                    <img src="./img/air-conditioner-icon.svg" alt="conditioner">
                    Air Condition
                </button>
                <button>
                    <img src="./img/parking-icon.svg" alt="parking">
                    Parking
                </button>
                <button>
                    <img src="./img/world-globe-line-icon.svg" alt="world">
                    Broadband Internet
                </button>
            </div>
        </div> 
    </div>
</section>